@import models.CountryQueryResult
@(input: String, countries: List[CountryQueryResult])

@main("Result of query"){
    <h1>Response to @input:</h1>
    <ul>
    @for(c <- countries) {
        <li>@c</li>
    }
    </ul>
}

