@(form: Form[CountryQueryForm.CountryData], countryQueryUrl: Call, reportQueryUrl: Call)(implicit request: RequestHeader, messages: Messages)

@main("Index") {
    <div class="container-fluid">
        <div class="row-fluid marketing">
            <div class="col-lg-6">
            @helper.form(countryQueryUrl) {
                @helper.CSRF.formField

                @helper.inputText(form("input"))

                <button class="btn btn-primary">Query</button>
            }
            </div>

            <div class="col-lg-6">
            @helper.form(reportQueryUrl) {
                @helper.CSRF.formField

                <button class="btn btn-primary">Report</button>
            }
            </div>
        </div>
    </div>
}
